.App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    padding-top: 5vh;
    font-size: calc(10px + 2vmin);
    color: white;
}

#btnBuscar {
    margin-left: 3vh;
    margin-top: 1vh;
}

#gridAppTable {
    margin-top: 3vh;
}

#tblHead {
    background-color: darkgray;
}

#tblHead th {
    color: white;
    font-size: large;
}